

.calendar-head {
	margin: 0 0 15px 0;
	padding: 0 0 15px 0;
	border-bottom: $gray-light 1px solid;
}

.calendar-body {
	margin: 0 0 45px 0;
	padding: 0 0 15px 0;
	border-bottom: $gray-light 1px solid;
	line-height: 2;
	text-align: center;
}